* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  background: #192653;
  color: var(--color-white);
}

:root {
  --color-primary: #192653;
  --color-secondary: rgb(126, 126, 126);
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #FF5C00;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  padding: .5rem 1rem;
  color: var(--color-white);
  background: var(--color-secondary);
  border-radius: .5rem;

}